body {
    background-color: black;
    font-family: poppins;
    color: rgb(168, 163, 168);
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}